* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Hind", sans-serif; */
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Crimson Text", serif; */
}
.model {
  margin: auto;
  width: 100%;
  height: 100%;
}
