* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Hind", sans-serif; */
  /* font-family: "Cormorant Garamond", serif; */
  /* font-family: "Crimson Text", serif; */
  font-family: "Raleway", sans-serif;
}

/* Apply scrollbar styles to all elements with scrollbars */
*::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
  /* width: 12px;  */
}

*::-webkit-scrollbar-track {
  /* Set the background of the track */
  background: #f1f1f1; 
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Set rounded corners for the thumb */
  border: 3px solid #f1f1f1; /* Add space around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change color on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.model {
  margin: auto;
  width: 100%;
  height: 100%;
}
