@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 1);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cartWishlistTab {
  box-sizing: border-box;
}

.cartWishlistTab > button {
  /* background-color: transparent; */
  color: #111827;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cartWishlistTab > button:hover {
  color: #111827;
}

.cartWishlistTab > button:focus {
  box-shadow: inset 0 0 0 0px white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* for dimention of the model */
.dot {
  display: none;
}

.dim {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
}

/* @media only screen and (max-width: 800px) {
  .dim {
    font-size: 3vw;
  }
} */

.hideDimension {
  display: none;
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  stroke: #0e9f6e;
  stroke-width: 2;
  stroke-dasharray: 2;
}

.hide {
  display: none;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

/* progress of reviews */
.progressBarBg > div {
  background-color: rgba(14, 159, 110, 1);
}

.ag-root-wrapper {
  border-radius: 0px;
  /* Adjust the border-radius to your desired value */
}

.ag-root {
  border-radius: 4px;
  /* Adjust the border-radius */
  overflow: hidden;
}

/* Styling the focues cell (AG-Grid)*/
.ag-cell-focus {
  border: 1px solid transparent !important;
}

/* Styling the selected cell (AG-Grid)*/
.ag-cell-range-selected {
  border: 1px solid transparent !important;
}

.ag-checkbox-input {
  background-color: red !important;
  color: black;
}

/* ag grid font family */
canvas {
  font-family: "Raleway, sans-serif" !important;
}

/* User is typing indicator */

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

/* export on order (seller) */
@media print {
  .no-print {
    display: none;
  }
}

@media (max-width: 600px) {
  .ag-theme-quartz .ag-header-cell-label {
    font-size: 12px;
  }

  .ag-theme-quartz .ag-cell {
    padding: 4px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .ag-theme-quartz .ag-header-cell-label {
    font-size: 10px;
  }

  .ag-theme-quartz .ag-cell {
    padding: 2px;
    font-size: 10px;
  }
}
